:root {
  --main-radius: 5px;
  --main-padding: 5px;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgb(146, 60, 237);
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr;
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
  grid-gap: 0.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #fafffe;
  text-align: center;
}

nav {
  background: rgb(146, 60, 237);
  grid-area: nav;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

main {
  background: #855ead7e;
  grid-area: main;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#sidebar {
  background: #a86eddac;
  grid-area: sidebar;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content1 {
  background: #9580cfab;
  grid-area: content1;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content2 {
  background:  #9580cfab;
  grid-area: content2;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

#content3 {
  background: #9580cfab;
  grid-area: content3;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

footer {
  background: #3d1b66;
  grid-area: footer;
  border-radius: var(--main-radius);
  padding-top: var(--main-padding);
}

a {
  text-align: center;
  display: block;
  font-family: inherit;
  text-decoration: none;
  font-weight: bold;
  margin: 1rem;
}

@media only screen and (max-width: 550px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr;
    grid-template-areas:
      "nav"
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}
* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  text-decoration: none; 
  }}
  .navbar {
      display: grid; 
      min-height: 100px;
      grid-auto-flow: column;
      background-color: #d2acf4;
      grid-gap: 20px;
      padding: 0px 30px 0px 30px; 
      
  }
  
  .logo {
      display: grid; 
      justify-content: start; 
      align-content: center; 
      font-size: 25px;
      color:whitesmoke;
  }
  
  .links {
      display: grid; 
      justify-content: end; 
      align-content: center;
      grid-auto-flow: column;
      grid-gap: 20px;
      font-size: 20px;
  }
  .containerfooter:after,
.footer:after {
  content: "";
  display: table;
  clear: both;
}
.conteinerfooter {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;
  padding: 0 15px;
}
footer {
  padding: 30px 0;
  background: #3d1b66;
  color: white;
}
.footer-col {
  width: 33.3333333333%;
  float: left;
}
.footer-col a {
  color: white;
}
.footer-col:last-child {
  text-align: right;
}

.svgf {
  display: inline;
}
.gallery-grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1.5rem;
  justify-items: center;
  margin: 0;
  padding: 0;
}

/* The Picture Frame */
.gallery-frame {
  padding: .5rem;
  font-size: 1.2rem;
  text-align: center;
  background-color: #333;
  color: #d9d9d9;
}

/* The Images */
.gallery-img {
  width: 230px;
  height: 300px;
  object-fit: cover;
  transition: opacity 0.25s ease-in-out;
}

.gallery-img:hover {
  opacity: .7;
}
.workers{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "worcer-img1"
    "worcer-img2"
    "worcer-img3";
  grid-gap: 0.2rem;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 12px;
  color: #fafefd;
  text-align:left;


}

@media only screen and (max-width: 550px) {
  .workers {
    grid-template-columns: 0.8fr 0.8fr 0.8fr 0.8fr;
    grid-template-rows: 1fr;
    grid-template-areas:
     "worcer-img1"  "worcer-img2" "worcer-img3";
  }
}
.img1, .img2, .img3, .img4{
width: 230px;
height: 230px;

}
.text{
  font-size: 2em;
}